---
title: Images
menu_active: images
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    {% include head-commons.html %}
</head>
<body>
  
{% include header.html %}

<div class="content press">
        
	<h1 class="center">"Press kit light"</h1>
        
  <div class="panel-press">
    
    <p>Feature image</p>

    The image is downsized, save as a file and it will be a bit bigger.<br/><br/>

    <div class="logo">
      <img width="600" src="images/presskit/feature-image1024.png" />
    </div>

    <p>Logotypes</p>

    The images are downsized, save as a file and it will be a bit bigger.<br/><br/>

    <div class="logo">
      <img width="600" src="images/presskit/logo-runner-nosky.png" /><br/>
      Runner, no background
    </div>

    <div class="logo">
      <img width="600" src="images/presskit/logo-norunner-nosky.png" /><br/>
      No runner, no background
    </div>

    <div class="logo">
      <br/><br/>
      <img width="600" src="images/presskit/logo-runner-sky.png" /><br/><br/>
      Runner, sky background
    </div>

    <div class="logo">
      <br/><br/>
      <img width="600" src="images/presskit/logo-norunner-sky.png" /><br/><br/>
      No runner, sky background
    </div>

    <p>Icon</p>

    <div class="logo">
      <br/><br/>
      <img width="164" src="images/presskit/icon1024.png" /><br/><br/>
      1024x1024 real size
    </div>

    <p>Screenshots</p>

    The images are downsized, save as a file and it will be a bit bigger.<br/><br/>

    <div class="screenshot">
      <img width="600" src="images/presskit/1.png" />
    </div>

    <div class="screenshot">
      <img width="600" src="images/presskit/2.png" />
    </div>

    <div class="screenshot">
      <img width="600" src="images/presskit/3.png" />
    </div>

    <div class="screenshot">
      <img width="600" src="images/presskit/4.png" />
    </div>

    <div class="screenshot">
      <img width="600" src="images/presskit/5.png" />
    </div>
  </div>
</div>
  
{% include footer.html %}

</body>
</html>
