body {
	background-color: black;
	color: white;
	font-family: verdana;
}

a, a:visited {
	color: #a67d3d;
}

#splash {
	margin-top: 50px;
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
}
#splash img {
	width: 100%;