html{height: 100%;}
body {
	height: 100%;
	background-color: black;
	color: white;
	font-family: verdana;
	background-image: url(images/bg.jpg);
	background-repeat: repeat-x;
	background-position: center top;
}

a, a:visited {
	color: #a67d3d;
}

#logo_left_container {
  width:50%;
  float:left;
  margin-right:-237px; /* minus half of the center container width */

}
#logo_left {
	margin-right: 237px;
	height: 180px;
	background-image: url(images/logostripe.png);
	background-repeat: repeat-x;
}
#logo_center {
	width: 474px; /* size of the fixed width */
	float: left;
	/* not important */
	color: #FFF;
	height: 180px;
	margin-bottom: 20px;
}
#logo_right_container {
	width: 50%;
	float: left;
	margin-left: -237px; /* minus half of the center container width */

}
#logo_right {
	margin-left: 237px; /* half of the center container width */
	/* not important */
	height: 180px;
	background-image: url(images/logostripe.png);
	background-repeat: repeat-x;
}

#content {
	clear: left; 
	width: 960px;
	margin-top: -180px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
}

#film {
	width: 700px;
	text-align: center;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	border-color: white;
	border-width: 8px;
	border-style: solid;
	box-shadow: 1px 1px 0 #a67d3d,
    -1px 1px 0 #a67d3d,
    1px -1px 0 #a67d3d,
    -1px -1px 0 #a67d3d,
    0px 1px 0 #a67d3d,
    0px -1px 0 #a67d3d,
    -1px 0px 0 #a67d3d,
    1px 0px 0 #a67d3d,
    2px 2px 0 #a67d3d,
    -2px 2px 0 #a67d3d,
    2px -2px 0 #a67d3d,
    -2px -2px 0 #a67d3d,
    0px 2px 0 #a67d3d,
    0px -2px 0 #a67d3d,
    -2px 0px 0 #a67d3d,
    2px 0px 0 #a67d3d,
    1px 2px 0 #a67d3d,
    -1px 2px 0 #a67d3d,
    1px -2px 0 #a67d3d,
    -1px -2px 0 #a67d3d,
    2px 1px 0 #a67d3d,
    -2px 1px 0 #a67d3d,
    2px -1px 0 #a67d3d,
    -2px -1px 0 #a67d3d;
	}

#info {
	font-size: 24px;
	font-weight: bold;
	color: #a67d3d;
	text-align: center;
	margin-top: 20px;
	text-shadow: 1px 1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white,
    0px 1px 0 white,
    0px -1px 0 white,
    -1px 0px 0 white,
    1px 0px 0 white,
    2px 2px 0 white,
    -2px 2px 0 white,
    2px -2px 0 white,
    -2px -2px 0 white,
    0px 2px 0 white,
    0px -2px 0 white,
    -2px 0px 0 white,
    2px 0px 0 white,
    1px 2px 0 white,
    -1px 2px 0 white,
    1px -2px 0 white,
    -1px -2px 0 white,
    2px 1px 0 white,
    -2px 1px 0 white,
    2px -1px 0 white,
    -2px -1px 0 white;
}

#screenshots {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 40px;
}

#owl-demo .item{
  margin: 5px;
}
#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;
	border: thin solid rgba(34,34,34,0.1);
}

#contact {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: rgba(34,34,34,0.4);
	margin-bottom: 10px;
}
