body {
	background-color: black;
	color: white;
	font-family: verdana;
}

a, a:visited {
	color: #a67d3d;
}

@media all and (min-width: 1000px) {
	#splash {
		margin-top: 50px;
		margin-left: 20%;
		margin-right: 20%;
		width: 60%;
	}
}

@media all and (max-width: 999px) {
	#splash {
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

#splash img {
	width: 100%;
}