<header class="site-header">

  <nav class="fixed-nav-bar">
    <div class="container">
      <div {% if page.menu_active == 'blog' or page.date %}class="active"{% endif %}><a href="/">Blog</a></div>
      <div {% if page.menu_active == 'editor' %}class="active"{% endif %}><a href="https://skyturns.com/editor">Editor</a></div>
      <div {% if page.menu_active == 'discord' %}class="active"{% endif %}><a href="https://discord.gg/yMk2PZb">Discord</a></div>
      <div {% if page.menu_active == 'reddit' %}class="active"{% endif %}><a href="https://www.reddit.com/r/Skyturns">Reddit</a></div>
    </div>
  </nav>

</header>
