<header class="site-header">

  <nav class="fixed-nav-bar">
    <div class="container">
      <div {% if page.menu_active == 'home' %}class="active"{% endif %}><a href="/">Home</a></div>
      <div {% if page.menu_active == 'blog' or page.date %}class="active"{% endif %}><a href="/blog.html">Blog</a></div>
      <div {% if page.menu_active == 'forum' %}class="active"{% endif %}><a href="https://discourse.skyturns.se">Forum</a></div>
      <div {% if page.menu_active == 'images' %}class="active"{% endif %}><a href="/images.html">Images</a></div>
    </div>
  </nav>

</header>
