

.fixed-nav-bar {
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;
}

.fixed-nav-bar .container {
	list-style-type: none;
	margin: 0px auto;
	padding: 0 0 0 50px;
	width: 960px;
	height: 50px;
	background-color: $skyturns-gold;
	border-radius: 30px;
	position: relative;
}
.fixed-nav-bar .container div {
	float: left;
	height: 45px;
	padding: 5px 20px 0px 20px;
}
.fixed-nav-bar .container div a, .fixed-nav-bar .container div a:visited {
	color: white;
	font-size: 26px;
	text-decoration: none;
}
.fixed-nav-bar .container div.active {
	background-color: lighten( $skyturns-gold, 20%);
}
@media only screen and (max-device-width : 1050px) {
	.fixed-nav-bar .container {
		border-radius: 0;
	}
}

.blog-updated {
	position: absolute;
	left: 180px;
	top: 29px;
	color: rgb(188, 19, 19);
	transform: rotate(-14deg);
}

#logo_left_container {
  width:50%;
  float:left;
  margin-top: $top-margin;
  margin-right:-237px; /* minus half of the center container width */

}
#logo_left {
	margin-right: 237px;
	height: 180px;
	background-image: url(../images/logostripe.png);
	background-repeat: repeat-x;
}
#logo_center {
	width: 474px; /* size of the fixed width */
	float: left;
	/* not important */
	color: #FFF;
	height: 180px;
	margin-bottom: 40px;
	margin-top: $top-margin;
}
#logo_right_container {
	width: 50%;
	float: left;
	margin-top: $top-margin;
	margin-left: -237px; /* minus half of the center container width */

}
#logo_right {
	margin-left: 237px; /* half of the center container width */
	/* not important */
	height: 180px;
	background-image: url(../images/logostripe.png);
	background-repeat: repeat-x;
}

#crazy_splash {
	background-color: #753131;
    border-radius: 14px;
    padding: 12px;
    font-size: 2em;
    width: 50%;
    margin: auto;

    a {
	    color: white;
	    text-decoration: underline;
    }
}

#info_splash {
	background-color: $skyturns-gold;
	border-radius: 14px;
	padding: 12px;
	font-size: 1.2em;
	color: white;
	margin: auto;
	margin-top: 25px;

    a {
	    color: black;
	    text-decoration: underline;
    }
}

#screenshots {
	text-align: center;
	padding-top: 40px;
}

#owl-demo {
	width: 960px;
}

#owl-demo .item{
  margin: 5px;
}

#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;
	border: thin solid rgba(34,34,34,0.1);
}

#info2 {
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	color: rgba(34,34,34,0.8);
	margin-top: 15px;
}

#storebuttons {
	margin-top: 50px;
	opacity: 0.8;
}



#film {
	width: 700px;
	text-align: center;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
	border: 6px solid rgba(9, 4, 4, 0.8);
	}

#faq {
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	color: rgba(34,34,34,0.8);
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	width: 640px;
}

#credits {
	font-size: 14px;	
}
#credits table {
	width: 600px;
	text-align: center;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	line-height: 1.7;
}
#credits table td {
	width: 33%;
}

#icon {
	margin-top: 50px;
}

#about {
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	color: rgba(34,34,34,0.8);
	margin-top: 50px;
}

#contact {
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	color: rgba(34,34,34,0.8);
	padding-bottom: 30px;
	margin-top: 10px;
}

.panel-press {
	@extend .light-panel;
	width: 660px;
	margin: 0 auto;
	margin-top: 20px;
}

.panel-press p {
	font-size: 21px;
	font-weight: normal;
	text-align: center;
	color: rgba(34,34,34,0.8);
	margin-top: 25px;
	padding-bottom: 0px;
}

.panel-press .screenshot {
	margin-top: 20px;
}

.post-content img.image-with-caption {
	margin-bottom: 5px;
}
p.image-caption {
	margin-top: 0px;
	font-size: 12px;
	font-style: italic;
}