.post-list {
    list-style-type: none;
    padding: 0px;
}

.content.blog {
	margin-top: 85px;
	text-align: left;
}

.post-title {
	@extend h1;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.post-title a {
	text-decoration: none;
}
.post-meta {
	@extend h2;
}

.post-short {
	@extend .light-panel;
	margin-top: 20px;
}

.post {
	@extend .light-panel;
	margin-top: 20px;
	padding-bottom: 30px;
}

.post-content img, .post-content iframe {
	border: 5px solid;
	border-radius: 9px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}