
html{}
body {
	background-color: $background-light;
	color: rgba(34,34,34,0.8);
	font-family: verdana;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	background-position: center top;
}

a, a:visited {
	color: $skyturns-gold;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
	color: rgba(34,34,34,0.8);
	text-align: left;
	margin-top: 25px;
}

h1 {
	font-size: 26px;
	font-weight: bold;
	color: $skyturns-gold;
	text-decoration: none;
	text-shadow: 1px 1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    -1px -1px 0 white,
    0px 1px 0 white,
    0px -1px 0 white,
    -1px 0px 0 white,
    1px 0px 0 white,
    2px 2px 0 white,
    -2px 2px 0 white,
    2px -2px 0 white,
    -2px -2px 0 white,
    0px 2px 0 white,
    0px -2px 0 white,
    -2px 0px 0 white,
    2px 0px 0 white,
    1px 2px 0 white,
    -1px 2px 0 white,
    1px -2px 0 white,
    -1px -2px 0 white,
    2px 1px 0 white,
    -2px 1px 0 white,
    2px -1px 0 white,
    -2px -1px 0 white;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}

.content {
	clear: left; 
	max-width: 960px;
	margin: 0px auto;
	padding: 0px 10px;
	text-align: center;
    box-sizing: border-box;
}
.content.press {
	margin-top: 85px;
}

.light-panel {
	background-color: rgba($background-light, 0.75);
	border-radius: 10px;
	padding: 12px;
}
.light-panel p {
	margin-top: 10px;
}
.center {
	text-align: center;
}

.highlighter-rouge {
	margin-top: 10px;
}

.fixed-nav-bar {
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;
}

.fixed-nav-bar .container {
	list-style-type: none;
	margin: 0px auto;
	padding: 0 0 0 50px;
	width: 960px;
	height: 50px;
	background-color: $skyturns-gold;
	border-radius: 30px;
	position: relative;
}
.fixed-nav-bar .container div {
	float: left;
	height: 45px;
	padding: 5px 20px 0px 20px;
}
.fixed-nav-bar .container div a, .fixed-nav-bar .container div a:visited {
	color: white;
	font-size: 26px;
	text-decoration: none;
}
.fixed-nav-bar .container div.active {
	background-color: lighten( $skyturns-gold, 20%);
}
@media only screen and (max-device-width : 1050px) {
	.fixed-nav-bar .container {
		border-radius: 0;
	}
}

.blog-updated {
	position: absolute;
	left: 180px;
	top: 29px;
	color: rgb(188, 19, 19);
	transform: rotate(-14deg);
}

#logo_left_container {
  width:50%;
  float:left;
  margin-top: $top-margin;
  margin-right:-237px; /* minus half of the center container width */

}
#logo_left {
	margin-right: 237px;
	height: 180px;
	background-image: url(../images/logostripe.png);
	background-repeat: repeat-x;
}
#logo_center {
	width: 474px; /* size of the fixed width */
	max-width: 100%;
	float: left;
	/* not important */
	color: #FFF;
	margin-bottom: 0px;
	margin-top: $top-margin;
}
#logo_right_container {
	width: 50%;
	float: left;
	margin-top: $top-margin;
	margin-left: -237px; /* minus half of the center container width */

}
#logo_right {
	margin-left: 237px; /* half of the center container width */
	/* not important */
	height: 180px;
	background-image: url(../images/logostripe.png);
	background-repeat: repeat-x;
}

#crazy_splash {
	background-color: #753131;
    border-radius: 14px;
    padding: 12px;
    font-size: 2em;
    width: 50%;
    margin: auto;

    a {
	    color: white;
	    text-decoration: underline;
    }
}

#info_splash {
	background-color: $skyturns-gold;
	border-radius: 14px;
	padding: 12px;
	font-size: 1.2em;
	color: white;
	margin: auto;
	margin-top: 25px;

    a {
	    color: black;
	    text-decoration: underline;
    }
}

#screenshots {
	text-align: center;
	padding-top: 40px;
}

#owl-demo {
	width: 960px;
}

#owl-demo .item{
  margin: 5px;
}

#owl-demo .item img{
	display: block;
	width: 100%;
	height: auto;
	border: thin solid rgba(34,34,34,0.1);
}

#info2 {
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	color: rgba(34,34,34,0.8);
	margin-top: 15px;
}

#storebuttons {
	margin-top: 10px;
	padding-bottom: 30px;
	opacity: 0.8;
}



#film {
	width: 700px;
	text-align: center;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px;
	border: 6px solid rgba(9, 4, 4, 0.8);
	}

#faq {
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	color: rgba(34,34,34,0.8);
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	width: 640px;
}

#credits {
	font-size: 14px;	
}
#credits table {
	width: 600px;
	text-align: center;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	line-height: 1.7;
}
#credits table td {
	width: 33%;
}

#icon {
	margin-top: 50px;
}

#about {
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	color: rgba(34,34,34,0.8);
	margin-top: 50px;
}

#contact {
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	color: rgba(34,34,34,0.8);
	padding-bottom: 30px;
	margin-top: 10px;
}

.privacy-policy {
	margin-top: 80px;
}

.panel-press {
	@extend .light-panel;
	width: 660px;
	margin: 0 auto;
	margin-top: 20px;
}

.panel-press p {
	font-size: 21px;
	font-weight: normal;
	text-align: center;
	color: rgba(34,34,34,0.8);
	margin-top: 25px;
	padding-bottom: 0px;
}

.panel-press .screenshot {
	margin-top: 20px;
}

.post-content img.image-with-caption {
	margin-bottom: 5px;
}
p.image-caption {
	margin-top: 0px;
	font-size: 12px;
	font-style: italic;
}

.post-list {
    list-style-type: none;
    padding: 0px;
}

.content.blog {
	margin-top: 85px;
}

.post-title {
	@extend h1;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.post-title a {
	text-decoration: none;
}
.post-meta {
	@extend h2;
}

.post-short {
	@extend .light-panel;
	margin-top: 20px;
	text-align: left;
}

.post {
	@extend .light-panel;
	margin-top: 20px;
	padding-bottom: 30px;
	text-align: left;
}

.post-content img, .post-content iframe, img.framed {
	max-width: 95%;
	border: 5px solid;
	border-radius: 9px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}